/assets/**
.idea/**
/tools/vendor/**
/build/**
/protected/runtime/*.log*
/build/logs/**
company_css/**
.DS_Store
**/.DS_Store
cache.properties
/protected/runtime/HTML
/protected/runtime/URI
/nbproject/private/
composer.lock
**/composer.lock