/assets/**
.idea/**
composer.phar
/build/**
/protected/runtime/*.log*
company_css/**
.DS_Store
cache.properties
/nbproject
/.buildpath
/.project
/.settings
/.idea
composer.lock
my-behat-config.yml
uploads/card_lost_declaration
/protected/runtime/gii-1.1.14
/protected/runtime/gii-1.1.14/CrudCode.php
/protected/runtime/gii-1.1.14/ModelCode.php
/protected/runtime/gii-1.1.14/ControllerCode.php
*.phar
/uploads/company_logo/**
/uploads/visitor/**
/uploads/*.csv
phantomjs.log
test/specs/tools/behat_results.xml