/assets/**
.idea/**
composer.phar
/vendor/**
**/bin/**
/build/**
/protected/runtime/*.log*
company_css/**
.DS_Store
cache.properties
/nbproject
/.buildpath
/.project
/.settings
composer.lock
**/composer.lock
/.idea
my-behat-config.yml
uploads/card_lost_declaration
/protected/runtime/gii-1.1.14
/protected/runtime/gii-1.1.14/CrudCode.php
/protected/runtime/gii-1.1.14/ModelCode.php
/protected/runtime/gii-1.1.14/ControllerCode.php
*.phar
phantomjs.log
test/specs/tools/behat_results.xml