<div class="col-xs-12">
  <h2>Create Login</h2>
  <hr/>
</div>

<div class="col-xs-10 col-xs-offset-1">
  <div class="alert alert-info"><p>Please create your Visitor Profile</p></div>
</div>

<form autocomplete="off">
  <div class="container default">
    <div class="alert alert-danger" role="alert" ng-show="hasError">
      <span class="error">Error: please try again, or contact Identity Security if the issue persists.</span>
    </div>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></div>
        <input type="text" name="email" class="form-control input-lg" placeholder="Please Enter Your Email Address" ng-model="currentVisitor.email"><br/>
      </div>
    </div>
    <div class="form-group">
      <input type="text"  name="firstName" class="form-control input-lg" placeholder="First Name" ng-model="currentVisitor.firstName">
    </div>
    <div class="form-group">
      <input type="text" name="lastName" class="form-control input-lg" placeholder="Last Name" ng-model="currentVisitor.lastName">
    </div>
    <div class="form-group">
      <input type="text" name="company"  class="form-control input-lg" placeholder="Company" ng-model="currentVisitor.companyName">
    </div>
  </div>
  <button class="btn btn-success  sticky-pull-right" ng-style="forwardButtonStyle" ng-click="createLogin()">Next<span class="glyphicon glyphicon-chevron-right"></span></button>
    <button class="btn btn-success  sticky-pull-left" ng-style="backButtonStyle" ng-click="goBack()"><span class="glyphicon glyphicon-chevron-left"></span>Back</button>
</form>
