<div class="col-xs-12">
  <h2>Visitor Verification</h2>
  <hr>
</div>

<form name="emailForm" class="form-horizontal" style="width:100%;">
  <div class="container default">
    <div class="centered-child row">
      <div class="alert alert-danger" role="alert" ng-show="hasError">
        <span class="error">Error: please try again, or contact Identity Security if the issue persists.</span>
      </div>
      <div ng-class="(emailForm.visitor_email.$valid == true) ? 'form-group' : 'form-group has-error'">
          <div class="input-group">
            <div class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></div>
            <input type="email" class="form-control input-lg" name="visitor_email" ng-model="visitor_email" placeholder="Please enter your Email Address">
          </div>
      </div>
      <div role="alert">
        <span class="error" ng-show="emailForm.visitor_email.$error.email">Please enter a valid email.</span>
      </div>
    </div>
  </div>

  <div class="row">
    <div ng-show="visitor_email && emailForm.visitor_email.$valid==true" class="sticky-pull-right">
      <a class="btn  btn-success sticky-pull-right" ng-style="forwardButtonStyle" ng-click="loadVisitorInfo()">Next<span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
    <a class="btn  btn-success sticky-pull-left" ng-style="backButtonStyle" ng-click="goBack()"><span class="glyphicon glyphicon-chevron-left"></span>Back</a>
  </div>
</form>
