<div class="col-xs-12">
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1">
			<h2 class="text-primary text-uppercase page-title">asic sponsor</h2>
		</div>
	</div>
	<hr/>
</div>

<div class="col-xs-10 col-xs-offset-1">
  <div class="alert alert-default">To enter an Aviation Zone, you must be escorted by an ASIC holder at all times.</div>
</div>
<div class="col-xs-10 col-xs-offset-1 content no-margin-top text-center">
	<p>Is you ASIC Sponsor with you now?</p>
	<br>
	<form name="form" role="form">
		<div class="row">
			<div class="col-xs-6">
				<button type="button" class="btn btn-large btn-success text-uppercase pull-right">Yes<span class="glyphicon glyphicon-ok"></span></button>
			</div>
			<div class="col-xs-6">
				<button type="button" class="btn btn-large btn-danger text-uppercase pull-left">No<span class="glyphicon glyphicon-remove"></span></button>
			</div>
		</div>
	</form>
</div>

<br>
<div class="row">
	<div class="col-xs-12">
		<a class="btn btn-primary sticky-pull-left" ng-style="backButtonStyle" href="#/logVisit"><span class="glyphicon glyphicon-chevron-left"></span>Back</a>
		<a class="btn btn-primary sticky-pull-right" ng-style="forwardButtonStyle" href="#/logVisit">Next<span class="glyphicon glyphicon-chevron-right"></span></a>
	</div>
</div>
<br>
