<div class="col-xs-12">
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1">
			<h2 class="text-primary text-uppercase page-title">confirm details</h2>
		</div>
	</div>
	<hr/>
</div>

<div class="col-xs-10 col-xs-offset-1">
	<div class="alert alert-default">Please confirm if the details below are correct and edit where necessary.</div>
</div>

<div class="col-xs-10 col-xs-offset-1 text-center content no-margin-top">
	<div class="row">
		<div class="col-sm-6 col-xs-12">
			<div class="form-group">
				<input type="text" name="firstname" id="firstname" class="form-control" ng-model="firstname" required placeholder="Firstname"/>
			</div>
			<div class="form-group">
				<input type="text" name="lastname" id="lastname" class="form-control" ng-model="lastname" required placeholder="Lastname"/>
			</div>
			<div class="form-group text-left">
				<label class="text-primary text-uppercase text-label">date of birth</label>
				<div class="row">
					<div class="col-md-3 col-sm-12">
						<select class="form-control">
							<option>1</option>
							<option>1</option>
						</select>
					</div>
					<div class="col-md-5 col-sm-12">
						<select class="form-control">
							<option>January</option>
							<option>February</option>
						</select>
					</div>
					<div class="col-md-4 col-sm-12">
						<select class="form-control">
							<option>1990</option>
							<option>1991</option>
						</select>
					</div>
				</div>
			</div>
			<div class="form-group">
				<input type="text" name="type" id="type" class="form-control" ng-model="type" required placeholder="ID Type"/>
			</div>
			<div class="form-group">
				<input type="text" name="number" id="number" class="form-control" ng-model="number" required placeholder="ID Number"/>
			</div>
			<div class="form-group">
				<select class="form-control">
					<option>Select country of issue</option>
					<option>US</option>
				</select>
			</div>
			<div class="form-group text-left">
				<label class="text-primary text-uppercase text-label">expiry</label>
				<div class="row">
					<div class="col-md-3 col-sm-12">
						<select class="form-control">
							<option>1</option>
							<option>1</option>
						</select>
					</div>
					<div class="col-md-5 col-sm-12">
						<select class="form-control">
							<option>January</option>
							<option>February</option>
						</select>
					</div>
					<div class="col-md-4 col-sm-12">
						<select class="form-control">
							<option>1990</option>
							<option>1991</option>
						</select>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-xs-12">
			<div class="form-group">
				<div class="row">
					<div class="col-md-5 col-sm-12">
						<input type="text" name="unit" id="unit" class="form-control" ng-model="unit" required placeholder="Unit / Flat No."/>
					</div>
					<div class="col-md-7 col-sm-12">
						<input type="text" name="street" id="street" class="form-control" ng-model="street" required placeholder="Street No."/>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="row">
					<div class="col-md-7 col-sm-12">
						<input type="text" name="street_name" id="street_name" class="form-control" ng-model="street_name" required placeholder="Street Name"/>
					</div>
					<div class="col-md-5 col-sm-12">
						<select class="form-control">
							<option>Select St. Type</option>
							<option>1991</option>
						</select>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label></label>
				<input type="text" name="suburb" id="suburb" class="form-control" ng-model="suburb" required placeholder="Suburb"/>
			</div>
			<div class="form-group">
				<input type="text" name="postcode" id="postcode" class="form-control" ng-model="postcode" required placeholder="Postcode"/>
			</div>
			<div class="form-group">
				<select class="form-control">
					<option>Select State</option>
					<option>1991</option>
				</select>
			</div>
			<div class="form-group">
				<select class="form-control">
					<option>Select Country</option>
					<option>1991</option>
				</select>
			</div>
			<div class="form-group">
				<label></label>
				<input type="text" name="mobile" id="mobile" class="form-control" ng-model="mobile" required placeholder="Mobile Number"/>
			</div>
		</div>
	</div>
</div>
</div>

<div class="col-xs-12">
	<a class="btn btn-primary sticky-pull-left" ng-style="backButtonStyle" href="#/login"><span class="glyphicon glyphicon-chevron-left"></span>Back</a>
	<a class="btn btn-primary sticky-pull-right" ng-style="forwardButtonStyle" href="#/createAccount">Next<span class="glyphicon glyphicon-chevron-right"></span></a>
</div>
<br>

