<div class="col-xs-12">
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1">
			<h2 class="text-primary text-uppercase page-title">create asic sponsor account login</h2>
		</div>
	</div>
	<hr/>
</div>

<div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3 content text-center">
	<div class="form-group">
		<input type="text" name="firstname" id="firstname" class="form-control" ng-model="firstname" required placeholder="Firstname"/>
	</div>
	<div class="form-group">
		<input type="text" name="lastname" id="lastname" class="form-control" ng-model="lastname" required placeholder="Lastname"/>
	</div>
	<div class="form-group">
		<input type="text" name="asicno" id="asicno" class="form-control" ng-model="asicno" required placeholder="Asic No."/>
	</div>
	<div class="form-group text-left">
		<label class="text-primary text-uppercase text-label">asic expiry</label>
		<div class="row">
			<div class="col-md-3 col-sm-12">
				<select class="form-control">
					<option>1</option>
					<option>1</option>
				</select>
			</div>
			<div class="col-md-5 col-sm-12">
				<select class="form-control">
					<option>January</option>
					<option>February</option>
				</select>
			</div>
			<div class="col-md-4 col-sm-12">
				<select class="form-control">
					<option>1990</option>
					<option>1991</option>
				</select>
			</div>
		</div>
	</div>
	<div class="form-group">
		<input type="text" name="mobile" id="mobile" class="form-control" ng-model="mobile" required placeholder="Mobile No."/>
	</div>
	<div class="form-group">
		<input type="email" name="email" id="email" class="form-control" ng-model="email" required placeholder="Email"/>
	</div>
	<div class="form-group">
		<input type="email" name="reemail" id="reemail" class="form-control" ng-model="reemail" required placeholder="Repeat Email"/>
	</div>
	<div class="form-group">
		<input type="password" name="password" id="password" class="form-control" ng-model="password" required placeholder="Password"/>
	</div>
	<div class="form-group">
		<input type="password" name="repassword" id="repassword" class="form-control" ng-model="repassword" required placeholder="Repeat Password"/>
	</div>
</div>

<div class="col-xs-12">
	<a class="btn btn-primary sticky-pull-left" ng-style="backButtonStyle" href="#/asicSponsorLogin"><span class="glyphicon glyphicon-chevron-left"></span>Back</a>
	<a class="btn btn-primary sticky-pull-right" ng-style="forwardButtonStyle" href="#/asicSponsorRemote">Next<span class="glyphicon glyphicon-chevron-right"></span></a>
</div>
<br>

