<div class="col-xs-12">
  <h2 class="text-primary text-uppercase page-title">Kiosk Login</h2>
  <hr>
</div>
<form name="form" ng-submit="login()" role="form">
	<div class="row">
		<div class="container default">
			<div class="centered-child">
				<!-- <div class="intro ">
					<div class="">
						<h1 class="title"></h1>
						<img ng-src="images/IDSecLogo2.png"><br/>
					</div>
				</div> -->
				<div class="col-md-6 col-md-offset-3">
					<!-- <h2 align="center">Login</h2> -->
					<div ng-show="error" class="alert alert-danger">{{error}}</div>
					
					<div class="form-group" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required || form.email.$error.pattern }">
						<div class="input-group">
							<div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
							<input type="email" name="email" id="email" class="form-control" ng-model="email" required ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" placeholder="Username or Email"/>
						</div>
						<span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Email is required</span>
						<span ng-show="form.email.$error.pattern" class="help-block">Please enter a valid email</span>
					</div>
					<div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
						<div class="input-group">
							<div class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></div>
							<input type="password" name="password" id="password" class="form-control" ng-model="password" required placeholder="Password"/>
						</div>
						<span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
	  <div class="col-xs-12">
	    <div class="form-actions">
			<button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-primary sticky-pull-right">Next<span class="glyphicon glyphicon-chevron-right"></span></button>
			<img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
		</div>
	  </div>
	</div>
</form>