<div class="col-xs-12">
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1">
			<h2 class="text-primary text-uppercase page-title">log visit details</h2>
		</div>
	</div>
	<hr/>
</div>

<div class="col-xs-10 col-xs-offset-1">
  <div class="alert alert-default">Please select the time of your visit.</div>
</div>
<div class="col-xs-10 col-xs-offset-1 content no-margin-top">
	<div ng-show="error" class="alert alert-danger">{{error}}</div>
	<div class="row">
		<div class="col-sm-4 col-xs-12">
			<img ng-src="{{ctype.card_image}}">
		</div>
		<div class="col-sm-8 col-xs-12">
			<form name="datepickerForm" class="form-horizontal" role="form">
				<div class="form-group">
					<div class="row">
						<div class="col-sm-3 col-xs-12">
							<label class="text-primary text-uppercase text-label">date of visit</label>
						</div>
						<div class="col-sm-7 col-xs-12">
							<div class="input-group">
								<input type="text" class="form-control" ng-model="fromDate" data-max-date="{{untilDate}}" placeholder="DD/MM/YY" bs-datepicker data-date-format="dd/MM/yyyy">

								<div class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
							</div>
						</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
						<div class="col-sm-3 col-xs-12">
							<label class="text-primary text-uppercase text-label">end date of visit</label>
						</div>
						<div class="col-sm-7 col-xs-12">
							<div class="input-group">
								<input type="text" class="form-control" ng-model="untilDate" data-min-date="{{fromDate}}" placeholder="DD/MM/YY" bs-datepicker data-date-format="dd/MM/yyyy">

								<div class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
							</div>
						</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
						<div class="col-sm-3 col-xs-12">
							<label class="text-primary text-uppercase text-label">time in</label>
						</div>
						<div class="col-sm-7 col-xs-12">
							<div class="row">
								<div class="col-sm-8 col-xs-12">
									<select class="form-control">
										<option>12.00</option>
										<option>12.30</option>
									</select>
								</div>
								<div class="col-sm-4 col-xs-12">
									<select class="form-control">
										<option>AM</option>
										<option>PM</option>
									</select>
								</div>
							</div>
						</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<br>
<div class="row">
	<div class="col-xs-12">
		<a class="btn btn-primary sticky-pull-left" ng-style="backButtonStyle" href="#/vicType"><span class="glyphicon glyphicon-chevron-left"></span>Back</a>
		<a class="btn btn-primary sticky-pull-right" ng-style="forwardButtonStyle" href="#/asicSponsor" ng-show="fromDate && untilDate">Next<span class="glyphicon glyphicon-chevron-right"></span></a>
	</div>
</div>
<br>
