<div class="col-xs-10 col-xs-offset-1 content">
	<div style="text-align: center;">
		<h1 class="text-primary text-normal text-orange">Please Collect your VIC at</h1><br/>
		<h1 class="text-primary text-normal text-lg text-uppercase">{{ pickupLocation }}</h1><br/>
		<img ng-src="{{imgSrc}}" width="200" class="logo">
	</div>
</div>


<div class="row">
	<div class="col-xs-12">
		<a class="btn btn-primary sticky-pull-left" ng-style="backButtonStyle" href="#/photo_capture"><span class="glyphicon glyphicon-chevron-left"></span>Back</a>
		<a class="btn btn-primary sticky-pull-right" ng-style="forwardButtonStyle" href="#/photo_capture">Finish</a>
	</div>
</div>
<br>
