<div class="col-xs-12">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <h2 class="text-primary text-uppercase page-title">Preregistration for visitor identification card (VIC)</h2>
    </div>
  </div>
  <hr/>
</div>

<div class="col-xs-10 col-xs-offset-1 content no-margin-bottom">
  <p>To proceed with this registration you must:</p>
  <ol>
    <li>Have a valid Driver Licence or Passport with you</li>
    <li>Have the name and contact email or mobile number of your escorting ASIC Sponsor</li>
    <li>Give details of your reason for visiting, including company contact information</li>
    <li>Approve the declarations below by checking the boxes</li>
  </ol>
</div>
</div>

<div class="col-xs-10 col-xs-offset-1 content">
  <h3 class="text-primary">Important information regarding the Visitor Identification Card (VIC)</h3>
  <div class="checkbox checkbox-wrap">
    <div>
      <p>Please read this information carefully and complete all the sections. Failure to do may result in processing delays.</p>
      <h3 class="text-danger">PRIVACY NOTICE - What does Perth Airport do with you personal information?</h3>
      <p>Information you provide on the VIC application includes personal information, the collection, use and disclosure of which is governed by the <span>Privacy Act 1988</span> (Commonwealth).</p>
      <p>Perth Airport uses this information internally for the purposes of its functions under the <span>Aviation Transport Security Art 2004</span> and <span>Aviation Transport Security Regulations 2005</span></p>
      <p>For example, Perth Airport will use this information to process VIC application, to monitor compliance with 28 days limit and to keep a register of every VIC issued</p>
      <p>Perth Airport may disclose this information to third parties. For example, personal information will be shared with our Authorised Agents (as approve in our Transport Security Program) who issue VICs.</p>
    </div>
    <label>
      <input type="checkbox" ng-init="hasAgreed=false" ng-model="hasAgreed" value="agree">Yes, I agree with the above statements.
    </label>
  </div>
</div>
<br>
<div class="row">
  <div class="col-xs-12">
    <a class="btn btn-primary sticky-pull-left" ng-style="backButtonStyle" href="#/"><span class="glyphicon glyphicon-chevron-left"></span>Back</a>
    <a ng-show="hasAgreed==true" class="btn btn-primary sticky-pull-right" ng-style="forwardButtonStyle" href="#/scandriver">Next<span class="glyphicon glyphicon-chevron-right"></span></a>
  </div>
</div>
<br>

