<div class="col-xs-12">
  <h2 class="text-primary">Compliance</h2>
  <hr/>
</div>

<div class="row">
  <div class="container default">
    <div class="col-xs-12 centered-child">
      <ol>
        <li ng-repeat="q in questions track by $index" ng-hide="!q || q === ''">
          {{q}}
        </li>
      </ol>
    </div>
  </div>
</div>

<div class="row">
  <div class="container ">
    <div class="col-xs-12">
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-init="hasAgreed=false" ng-model="hasAgreed" value="agree">Yes, I agree with the above statements.
        </label>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-xs-12">
    <a class="btn  btn-primary sticky-pull-left" ng-style="backButtonStyle" ng-click="goBack()" ><span class="glyphicon glyphicon-chevron-left"></span>Back</a>
    <a ng-show="hasAgreed==true" class="btn  btn-primary sticky-pull-right" ng-style="forwardButtonStyle" ng-click="changeView()">Next<span class="glyphicon glyphicon-chevron-right"></span></a>
  </div>
</div>
<br>

