<div class="col-xs-12">
  <h2 class="text-primary text-uppercase page-title">Check Out</h2>
  <hr>
</div>

<div class="container default">
	<div class="centered-child">
	  <div class="text-center">
	    <h2 class="text-normal">Thanks {{ visitor.firstName }} {{ visitor.lastName }}! Please leave your visitor card at</h2>
	    <h2 class="text-normal">{{ dropOffLocation }}</h2>
	    <br>
	    <br>
	    <h1 class="text-normal text-uppercase">HAVE A GREAT DAY!</h1>
	  </div>
	</div>
</div>
<!-- <button class="btn btn-success notify-btn" ng-click='startOver()'>Start Over</button> -->
<button class="btn btn-primary notify-btn sticky-pull-right" ng-click='startOver()'>Next<span class="glyphicon glyphicon-chevron-right"></span></button>
