<div class="col-xs-12">
  <h2>Photo</h2>
  <hr>
</div>

<div class="col-xs-10 col-xs-offset-1">
  <div class="alert alert-info">Please face the kiosk camera to have your photo taken.</div>
</div>

<div class="alert alert-danger" role="alert" ng-show="hasError">
  <span class="error">Error: please try again, or contact Identity Security if the issue persists.</span>
</div>

<div class="container default full_page">
  <div class="alert alert-danger" role="alert" ng-show="hasError">
    <span class="error">Error: please try again, or contact Identity Security if the issue persists.</span>
  </div>
  <div class="camera-content" ng-show="showControls">
    <camera capture-callback="useCapturedPhoto()">
      <camera-control-snapshot></camera-control-snapshot>
    </camera>
  </div>
  <div ng-show="showSpinner">
    <h3 class="text-center">Please wait while we create your pass</h3>
    <three-bounce-spinner></three-bounce-spinner>
  </div>
</div>

<button class="btn btn-success sticky-pull-left notification_btn aligned-btn" ng-click="goBack()" ng-style="backButtonStyle"><span class="glyphicon glyphicon-chevron-left"></span>Back</button>
