<div class="centered-child">
	<div class="intro ">
		<div class="">
			<h1 class="title"></h1>
			<img ng-src="data:image;base64,{{imgSrc}}" style="max-width:300px;"><br/>
			<h3 style="color:#666666;">{{tagLine}}</h3>
		</div>
	</div>
	<div class="col-md-6 col-md-offset-3" align="center">		
		<div ng-show="error" class="alert alert-danger">{{error}}</div>
		<form name="form" ng-submit="nextStep()" role="form">
			<div class="form-group" ng-class="{ 'has-error': form.kiosk.$dirty && form.kiosk.$error.required }">
				<label for="email">Kiosk Name</label>
				<input type="text" name="kiosk" id="kiosk" class="form-control" ng-model="kiosk" required />
				<span ng-show="form.kiosk.$dirty && form.kiosk.$error.required" class="help-block" style="font-size: 15px;">
					Kisok Name is required
				</span>
			</div>
			<div class="form-group" ng-class="{ 'has-error': form.workstations.$invalid }">
				<select name="workstations" ng-model="workstations" required>
					<option value="">Please Select Workstation</option>
					<option ng:repeat="facility in facilities" value="{{facility.id}}">{{facility.name}}</option>
				</select>
				<span ng-show="form.workstations.$invalid" class="help-block" style="font-size: 15px;">Select Workstation</span>
			</div>
			<div class="form-actions">
				<button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-success" ng-style="forwardButtonStyle">Select</button>
				<img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
			</div>
		</form>
	</div>
</div>