<div class="intro default">
	<div class="centered-child">
		<div ng-show="success" class="alert alert-success">{{success}}</div>
		<h1 class="title">
			<img ng-src="{{imgSrc}}" width="200">
		</h1>
		<h4 class="text-primary">CORPORATE VISITOR MANAGEMENT SYSTEM</h4>
		<!-- <h4 style="color:#666666;">{{tagLine}}</h4> -->
	</div>
</div>
<a class="btn btn-primary sticky-pull-left" ng-style="checkOutButtonStyle" href="#/check_out">
	<span class="glyphicon glyphicon-chevron-left"></span>Check Out
</a>
<a class="btn btn-primary sticky-pull-right" ng-style="forwardButtonStyle" href="#/compliance">
	Check In<span class="glyphicon glyphicon-chevron-right"></span>
</a>
