<div class="container default">
	<div class="centered-child">
	  <div style="text-align: center;">
	    <h1 class="text-primary text-normal">Please Collect your VIC at</h1><br/>
	    <h1 class="text-primary text-normal text-lg text-uppercase">{{ pickupLocation }}</h1><br/><br/>
	  </div>
	</div>
</div>

<a class="btn btn-primary sticky-pull-left" href="#/photo_capture">
	<span class="glyphicon glyphicon-chevron-left"></span>Back
</a>
<!-- <a class="btn btn-primary sticky-pull-right" href="#/check_out">
	Next<span class="glyphicon glyphicon-chevron-right"></span>
</a> -->
<button class="btn btn-primary notify-btn sticky-pull-right" ng-click='startOver()'>Next<span class="glyphicon glyphicon-chevron-right"></span></button>
