<div class="intro default">
  <div class="centered-child">
    <div ng-show="success" class="alert alert-success">{{success}}</div>
    <h1 class="title">
      <img ng-src="{{imgSrc}}" width="600">
    </h1>
    <h3 class="text-primary">VISITOR IDENTIFICATION CARD (VIC) KIOSK</h3>
    <p class="text-primary ">
      <span class="glyphicon glyphicon-info-sign"></span>
      <button class="text-underline btn-link" ng-click="showModal()">(VIC) What is this?</button>
    </p>

    <div id="vicModal" class="custom-modal">
      <div class="custom-modal-content">
        <div class="modal-header custom-modal-header">
          <button type="button" class="close" ng-click="closeModal()">
            <span aria-hidden="true">&times;</span>close
          </button>
          <h4 class="modal-title text-default" id="myModalLabel">What is a Visitor Identification Card (VIC)?</h4>
        </div>
        <div class="modal-body custom-modal-body">
          A VIC is an identification card visitors must wear when they are in secure zone of a security controlled airport. VICs permit temporary access to non-frequent visitors to an airport. If a person is a frequent visitor to an airport they should consider applying for an Aviation Security Indentification Card (ASIC).
        </div>
      </div>
    </div>
  </div>
</div>
<a class="btn btn-primary sticky-pull-right" href="#/preregistration">
  Next<span class="glyphicon glyphicon-chevron-right"></span>
</a>
