.grid-view-loading
{
    background:url(loading.gif) no-repeat;
}


.grid-view table.items th a.asc
{
	background:url('../images/icon-down.png') right center no-repeat !important;
	padding-right: 10px;
}
.grid-view a.sort-link 
{
    background: url('../images/icon-updown.png') right center no-repeat !important;
    padding-right: 10px !important;
}

.grid-view table.items th a.desc
{
        background:url('../images/icon-up.png') right center no-repeat !important;
        padding-right: 10px;
}

.grid-view table.items tr.even
{
    background: #F8F8F8;
}

.grid-view table.items tr.selected
{
    background: #BCE774;
}

.grid-view table.items tr:hover.selected
{
    background: #CCFF66;
}

.grid-view table.items tbody tr:hover
{
    background: #ECFBD4;
}

.grid-view .link-column img
{
    border: 0;
}

.grid-view .button-column
{
    text-align: center;
    width: 125px !important;
}

.grid-view .button-column img
{
    border: 0;
}

.grid-view .checkbox-column
{
    width: 15px;
}

.grid-view .summary
{
    margin: 0 0 5px 0;
    text-align: right;
}

.grid-view .pager
{
    margin: 5px 0 0 0;
    text-align: right;
}

.grid-view .empty
{
    font-style: italic;
}

.grid-view .filters input,
.grid-view .filters select
{
    width: 90%;
    border: 1px solid #ccc;
}



.grid-view table .items th,table th,.grid-view table.items th a{
    
    list-style: none outside none;
    
    position: relative; 
    color:#323232 !important;
    text-decoration: none;
    font-weight:bold;
    text-align:center;
    color:#323232 !important;
    font-size:12px;
    background: linear-gradient(#F1F1F1 0%, #F1F1F1 100%);
    /*padding-right: 12px !important;*/      
}

.grid-view{
    padding:0 !important;
}

.grid-view td a{
    padding:3px;
    display:block;
    font-size:10px;
    margin-bottom:2px;
}

.grid-view table td{
    border-collapse: collapse;
    border:1px solid white;
    padding:5px !important;
}

.grid-view .filters{
    background-color: #E7E7E7 !important;
}

.filters select[name="User[role]"]{
    width:162px !important;
}

.filters select[name="User[user_type]"]{
    width:90px !important;
}