/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 6, 2014, 1:31:13 PM
    Author     : Jeremiah
*/


.login-area, .forgot-password-area, .reset-password-area, .selectworkstation-area{
    background: none repeat scroll 0 0 #F3F3F3;
    border: 1px solid #C5C6C8;
    border-radius: 10px;
    margin: 30px auto;
    padding: 10px 25px;
    text-align: center;
    width: 270px;
    border-collapse:inherit;
}

.selectworkstation-area td{
    padding:5px;
}

div.form label{
    font-weight:normal;
}

.password-border{
    border: 1px solid #C5C6C8;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px 0 0 10px;
    max-width: 260px;
}





input.pass_option, input.password_option , input.password_requirement{
    vertical-align: baseline;
    margin: 3px 3px 0 0 !important;
}

.forgot-password-area input[type="submit"], .reset-password-area input[type="submit"], .grid-view td a, #btnSubmit, input[type="submit"],#updateBtn,#submitBtn,#addCompanyLink
,.yiiBtn, #clicktabA, #clicktabB,#clicktabB1,#clicktabB2,#submitFormVisitor,#clicktabC,
.visitor-findBtn,.host-findBtn,.visitor-backBtn,
#dummy-submitFormPatientName,
#updateVisitHostFromSearch,
.submitBtn,.host-AddBtn
,#saveCurrentUserAsHost,
.greenBtn{
    background: -webkit-gradient(linear, center top, center bottom, from(#A1DC33), to(#82BD12));
    background: -moz-linear-gradient(center top , #A1DC33, #82BD12) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -webkit-gradient(linear, center top, center bottom, from(#A1DC33), to(#82BD12));
    background: -ms-linear-gradient(top, #a1dc33, #82bd12) ;
    border: 1px solid #63B421;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 3px 15px 5px;
    cursor:pointer;
}

.login-area input[type="submit"],
.blueBtn{
    background: -webkit-gradient(linear, center top, center bottom, from(#69D2E7), to(#69D2E7));
    background: -moz-linear-gradient(center top , #69D2E7, #69D2E7) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -webkit-gradient(linear, center top, center bottom, from(#69D2E7), to(#69D2E7));
    background: -ms-linear-gradient(top, #69D2E7, #69D2E7) ;
    border: 1px solid #69D2E7;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 3px 15px 5px;
    cursor:pointer;
}

.host-AddBtn{
    margin-top:-9px;padding:7px;
}

.login-area .errorMessage{
    font-size:0.8em !important;
}

.login-area th,.login-area td, caption {
    padding: 0px !important;
}

#header {
    padding-top:6px;
    margin: 0 auto;
}

.header_midbox
{
    margin:0px auto;
    width:1200px;
    padding:0;
}
#logo
{
    float:left;
    // padding:10px 100px;
    margin-left: 5px;
    height:50px ;
}
.top_nav
{
    float:right;
    margin-top: 30px !important;
    margin-right: -27px !important;
}
.top_nav ul
{
    list-style:none;
    float:right;
    margin: 0;
    padding: 0;
}
.top_nav ul li
{
    float:left;
    color:#000;
    font-size:14px;
    padding:0 3px;
}
.top_nav ul li:last-child
{
    border-right:none;
}

.top_nav ul li img
{
    float:left;
    width:14px;
}
.top_nav ul li a
{
    text-decoration:none;
    color:#000;
}
.top_nav ul li a:hover
{
    color:#9BD62C;
}

.top_nav .profile{
    padding: 0 ;
}




.top_nav .profile a{
    display: block;
    height: 40px;
    width: 40px;
    background: url('../images/menu-icons-profile.png') no-repeat center center;
    text-indent: -9999px;
}

.top_nav .notifications a{
    display: block;
    height: 40px;
    width: 40px;
    background: url('../images/menu-icons-notifications.png') no-repeat center center;
     
}
.notifications .notification-count {
     padding:0px 6px; 
     float:right; 
     border:1px solid red; 
     border-radius: 10px; 
     background: red; 
     font-size:10px; 
     color:#fff !important;
   
}
.top_nav .support a{
    display: block;
    height: 40px;
    width: 40px;
    background: url('../images/menu-icons-support.png') no-repeat center center;
    text-indent: -9999px;
}



.top_nav .help a{
    display: block;
    height: 40px;
    width: 40px;
    background: url('../images/menu-icons-help.png') no-repeat center center;
    text-indent: -9999px;
}

#tabs .logout{
    float: right;
}

#tabs .logout a,
#tabs .logout a:hover{
    display: block;
    height: 40px;
    width: 40px;
    background: url('../images/menu-icons-logout.png') no-repeat center center !important;
    text-indent: -9999px;
    float: right;
    padding: 0;
}

#tabs .loggedin-as{
    width: 440px;
    padding: 10px 25px;
    text-align: right;
}

.login_icon
{
    float:right;
    width:50px;
}

ul:after
{
    display:block;
    clear:both;
    content:"";
}
nav.navigation
{
    float:left;
}
nav.navigation ul
{
    list-style:none;
    float:left;
    border-top-left-radius:8px;
    border-top-right-radius:8px;
    background:#E7E7E7;
}
nav.navigation ul:after
{
    list-style:none;
    float:left;
    border-top-left-radius:8px;
    border-top-right-radius:8px;
    background:#E7E7E7;
    width:1200px;
}
nav.navigation ul li
{
    float:left;
    font-size:12px;
    color:#969696;
    font-weight:bold;	
}
nav.navigation ul li:last-child
{
    background:none;
}

nav.navigation ul li a
{
    text-decoration:none;
    display:block;
    padding:10px 25px;
    text-decoration:none;
    color:#969696;

    transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;	     
    -o-transition: all 0.25s ease;
    width: 170px;
    text-align:center;
}

nav.navigation ul li.active a{
    color:white;
}

nav.navigation ul li a:hover, nav.navigation ul li.active 
{
    background:#9BD62C;
}

nav.navigation ul li a:hover, nav.navigation ul .active a{
    color: #fff !important;
}

nav.navigation ul li:first-child.active a
{
    color:#fff;
    border-top-left-radius: 8px !important;
}
nav.navigation ul li:first-child a:hover
{
    border-top-left-radius:8px;
}
nav.navigation ul li:last-child a:hover
{
    border-top-right-radius:8px;
}
nav.navigation ul li:first-child.active
{
    border-top-left-radius:8px;
}
nav.navigation ul li:last-child.active
{
    //border-top-right-radius:8px;
}


.wrapper {
    margin: 0 auto;
    // padding: 20px 0;
    width: 1200px;
}



.wrapper h1 {
    color: #78B800;
    font-size: 15px;
    font-weight: bold;
    line-height:20px !important;
}

#content{
    padding:0px;
    width: 120.6%;
}

.grid-view table.items th,table th,.grid-view table.items th a{
    background-color: #FBFBFB;
    /*background-image:none !important;*/
    background-repeat: repeat-x;
    //  box-shadow: 0 1px 0 #FFFFFF inset;
    list-style: none outside none;
    //margin: 0 0 18px;
    padding: 4px;
    position: relative; 
    color:#323232 !important;
}

.grid-view{
    padding:0 !important;
}

.portlet {
    background-color: #E7E7E7 !important;
    border-radius: 5px;
}

#usercontent{
    padding-top:100px;
}

.grid-view td a{
    padding:3px;
    display:block;
    font-size:10px;
    margin-bottom:2px;
}

#addCompanyModal {
    height: 88%;
}
#workstationsModal{
    height:65%;
}

#modalBody iframe { 
    width: 600px; 
    height: 730px; 
    border: none; } 

#workstationsModal .modal-body iframe { 
    width: 100%; 
    height: 500px; 
    overflow-x: hidden;
    overflow-y: auto;
    border: none; } 

#modalBody { 
    height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;} 

#workstationsModal .modal-body  { 
    height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;} 

#user_workstationsGrid .items {
    width:500px;
    border:1px solid #E0E0E0;
}

#user_workstationsGrid td,.superadminSetAccessTable td {
    border:1px solid #E0E0E0;
}

.superadminSetAccessTable th{
    border:2px solid #E0E0E0 !important;
}

.superadminSetAccessTable td

.companyLogoDiv{
    width:220px;
    height:150px;
    margin-bottom:-20px;
}

.errorPage{
    background: none repeat scroll 0 0 #FFEEEE;
    border: 2px solid #CC0000;
    font-size: 0.9em;
    margin-top:30px;
    margin-left:-10px;
    padding:5px;
    width:40%;
}

#content{
    border: 1px solid #E7E7E7;
    border-radius: 5px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    width: 120.6%;
    overflow-x: auto;
    min-height: 400px;
    position: relative;
}

#companyLogo{
    height:60px;
    width: 180px;
}

.update a{
    margin-bottom:5px !important;
}


.grid-view table.items th,table th,.grid-view table.items th a{
    background-color: #FBFBFB;
    
    list-style: none outside none;
    padding: 4px;
    position: relative; 
    color:#323232 !important;
}
#workstation-grid_c0 , #workstation-grid_c3{
    background-image:none !important;
}

.grid-view{
    padding:0 !important;
}

.grid-view td a{
    padding:3px;
    display:block;
    font-size:10px;
    margin-bottom:2px;
}

#company-form td  {
    padding: 4px !important;
}

.superadminSetAccessTable table.items th,.superadminSetAccessTable table th, .superadminSetAccessTable table.items th a{
    background-color: white;
    font-size:12px;
    text-decoration: none;
    padding:3px;
}

.superadminSetAccessTable td{
    padding:5px;
}
.superadminSetAccessTable table tr td{
    border-collapse: separate;
    border:1px solid white;
}

.birthdayDropdown select{
    width:70px ;
}

#sidebar2{
    border:1px solid #E7E7E7;width:215px;height:115%;padding-bottom:10px;

}

#sidebar{
    margin-left: -4px;
}

.delete, .visitor-findBtn,.visitor-backBtn, .host-findBtn{
    background: -webkit-gradient(linear, center top, center bottom, from(#CCCCCC), to(#999999)) !important;
    background: -moz-linear-gradient(center top , #CCCCCC, #999999) repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    background: -webkit-gradient(linear, center top, center bottom, from(#CCCCCC), to(#999999)) !important;
    background: -ms-linear-gradient(top, #CCCCCC, #999999) !important ;
    border :1px solid #999999 !important;
}

#logo {
    width:200px;
    height:50px;
}

.sidebarTitle{
    font-weight:bold;
    font-size:13px;
    font-family:inherit;
    width:100% !important;
    background-color:#B2B2B2;
    border-top-left-radius:8px;
    border-top-right-radius:8px;
    margin-top:-20px;padding:2px;
    margin-left:-2px;color:white;
    padding-top:6px;padding-bottom:5px;
}

.grid-view .summary {
    font-size: 12px;
    font-weight: bold;
    margin-top: -27px !important;
    position: absolute;
    right: 25px;
}

#page{
    margin-left:-15px;
}

.highlight{
    background-color: red !important;
}

.radioButtonTd input[type="radio"] {
    display:none !important; 
}

.radioButtonTd label {
    display:inline-block;
    background: -webkit-gradient(linear, center top, center bottom, from(#A1DC33), to(#82BD12));
    background: -moz-linear-gradient(center top , #A1DC33, #82BD12) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -webkit-gradient(linear, center top, center bottom, from(#A1DC33), to(#82BD12));
    border: 1px solid #63B421;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    cursor:pointer;
    padding:3px;
    width:80px;
}

.radioButtonTd input[type="radio"]:checked + label { 
    background-color:#bbb;
    background: -webkit-gradient(linear, center top, center bottom, from(#bbb), to(#bbb));
    background: -moz-linear-gradient(center top , #bbb, #bbb) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -webkit-gradient(linear, center top, center bottom, from(#bbb), to(#bbb));
    border: 1px solid #7C8994;

}

.indentLeft{
    margin-left:80px;
}

.note{
    font-style: italic;
}
ul.yiiPager .hidden a {
    margin-left:-40px;
}

.grid-view .pager {
    text-align: left !important;
    margin-left:10px !important;
}

.pager .next > a, .pager .next > span {
    float: none !important;
}

h1,
h2,
h3 {
    line-height: 20px !important;
}

div.form{
    padding-top:10px;
}

.addLineHeight{
    line-height:40px !important;
}

#logo a img{
    height:50px;width:180px !important;
}

/*visitor page*/
dl, dt, tabs-content li{
    box-sizing:border-box !important;
}

dt.tabs dt{
    /* IE10 Consumer Preview */ 
    background-image: -ms-linear-gradient(top, #FFFFFF 0%, #4A4A4A 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(top, #FFFFFF 0%, #4A4A4A 100%);

    /* Opera */ 
    background-image: -o-linear-gradient(top, #FFFFFF 0%, #4A4A4A 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #4A4A4A));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #4A4A4A 100%);

}

.visitor-title{
    font-size:18px;
    font-weight:bold;
    margin: 5px 0 5px 0;
    color:#5C5C5E;
}

#registerform label{
    color:#637280; 
}

#registerform table tr td{
    padding:3px;
}

.visitor-findBtn ,.host-findBtn, #host-AddBtn{
    vertical-align: top;
    padding:6px 8px !important;
}

.search-text{
    width:350px;
}

#findVisitorRecordModal{
    left: 300px;
    margin: 0 auto !important;
    width: 800px;
    height:500px;
}

#findvisitor-grid, #findpatient-grid, #findHost-grid{
    width:59% !important;
}

#findAddVisitorRecordDiv{
    padding:0px !important;
}

#addvisitor-table tr td, #addhost-table tr td{
    vertical-align: top !important;
}
#visit-reason-grid_c1{
    width:150px !important;
}

#visit-reason-grid table tr td a{
    width:50px !important;
    /*margin-left: auto;
    margin-right: auto;*/
}

#visit-reason-grid .filters input{
    width:98% !important;
}

#visitorCompanyRow .select2{
    margin-top: 0.2em;
}

/*.required{ padding-left:10px;}*/
/*radio buttons*/

.errorMessageEmail, .errorMessageEmail1{
    display: none;

}
#searchVisitorTableDiv, #visitor_fields_for_Search, 
#search-visitor-reason-error, #searchHostTableDiv, 
#register-host-form, #register-reason-form, .visitorReason
,#Patient_name_error,
#selectedVisitorInSearchTable,#visitorId,#selectedHostInSearchTable,#patientIsUnique, 
#hostId, #hostEmailIsUnique, #register-visit-form,
#register-host-form #User_role, #register-host-form #User_user_type
,#currentRoleOfLoggedInUser,
#currentCompanyOfLoggedInUser,
#register-reason-form-search,
#searchHostDiv,
#addreasonTable,
.errorMessageEmail2
,.hiddenElement

{
    display: none;
}

#register-reason-form{
    margin-top: -80px;
    width:300px;
}

#register-reason-form input[type="text"]{
    margin-left: 3px;
    width: 207px;
}

#addReasonBtn{
    cursor:pointer;
    display:none;
}

#selectCardDiv input[type="radio"] {
    //display:none !important; 
}


#selectCardDiv label ,#labelforsameday{
    display:inline-block;
    height: 117px;
    color:white;
    width: 90px;
    margin-top: 15px;
}

#labelformultiday{
    display:inline-block;
    height: 117px;
    color:white;
    width: 100px;
}

.selectCardTypeTable tr td{

    text-align:center;
}
.selectCardTypeTable{
    width:50px;
}
.selectCardTypeTable img{
    height:120px;
}

.buttonsAlignToRight{
    text-align:right;
}

.linkToVisitorDetailPage {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    border: medium none !important;
    color: #000000 !important;
    font-size: 12px !important;
}


/*for visitor detail page*/
#visitorDetailDiv, #visitHistoryVisitDetailDiv{
    padding:0px;margin-left:-30px;height:100%;width:106.59% !important;max-width:107%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#visitorDetailDiv .theadVisitorDetail td{
    font-size:12px;
    text-align:center;
    width:150px;
    background-color: #F1F1F1;
    border: 1px solid #E7E7E7;
}

#visitorDetailDiv, #visitorDetailDiv td{

    border-collapse:collapse !important;
}
#visitorDetailDiv tr{
    border: 1px solid #E7E7E7;
}

.detailsTable, .detailsTable tr, .detailsTable td{
    border-collapse:collapse !important;
    border: 1px solid white !important;
}

.detailsTable{
    width: 295px;
}

#visitorInformationCssMenu ul,
#visitorInformationCssMenu li,
#visitorInformationCssMenu a{
    margin: 2px;
    padding: 0;
    border: 0;
    list-style: none;
    font-weight: normal;
    text-decoration: none;
    line-height: 1;
    font-size: 14px;
    position: relative;
    border-radius: 5px;
}

#actionsCssMenu ul,
#actionsCssMenu li,
#actionsCssMenu a{
    //  margin: 2px;
    padding: 0;
    border: 0;
    list-style: none;
    font-weight: normal;
    text-decoration: none;
    line-height: 1;
    font-size: 14px;
    position: relative;
    border-radius: 5px;
    margin-right: 2px;
}

#visitorInformationCssMenu > ul > li > a  {
    font-size: 12px;
    display: block;
    background: #64676e;
    background: -moz-linear-gradient(#F1F1F1 0%, #F1F1F1 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F1F1F1), color-stop(100%, #F1F1F1));
    background: -webkit-linear-gradient(#F1F1F1 0%, #F1F1F1 100%);
    background: linear-gradient(#F1F1F1 0%, #F1F1F1 100%);
    color:#58585A;
    font-weight:bold;
    padding:8px;
}

#actionsCssMenu > .visitStatusLi > li > a, #actionsCssMenu > ul > li > a  {
    font-size: 12px;
    display: block;
    background: #64676e;
    background: -moz-linear-gradient(#F1F1F1 0%, #F1F1F1 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F1F1F1), color-stop(100%, #F1F1F1));
    background: -webkit-linear-gradient(#F1F1F1 0%, #F1F1F1 100%);
    background: linear-gradient(#F1F1F1 0%, #F1F1F1 100%);
    color:#58585A;
    font-weight:bold;
    padding:8px;
}

#actionsCssMenu{
    margin-top:17px;
}

.visitStatusLi > li 
{
    padding-bottom:10px !important;
}
#visitorInformationCssMenu .has-sub li {
    cursor:auto;
    padding-bottom: 0 !important;
    padding-left: 0 !important;
    padding-right: 0;
    padding-top: 10px !important;
    color:#B2B2B2;
}

#visitorInformationCssMenu{
    padding-bottom:15px;
    padding-top:15px;
}

#visitorInformationCssMenu table tr td, #visitorInformationCssMenu table tr td label{
    vertical-align:top !important;
    font-size:12px;
}

#visitorInformationCssMenu table tr td input[type="text"], #visitorInformationCssMenu table tr td input[type="password"]{
    height:17px;
    font-size:12px;
    width:107%;
}
#logvisitTable tr td input[type="text"]{
    height:17px;
    font-size:12px;
    width:80%;
}

#logvisitTable{
    width:250px !important

}
#visitorInformationCssMenu table tr td select{
    height:27px;
    font-size:12px;
    width:115%;
}

#visitorInformationCssMenu .errorMessage {
    color:red;
}

#visitorInformationCssMenu > ul > li.has-sub > a:before {
    content: "";
    position: absolute;
    top: 12px;
    right: 14px;
    border: 5px solid transparent;
    border-left: 5px solid #ffffff;
    border-color: #4E5800 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}



/*visitor detail actions*/
#actionsVisitDetails tr td, #visitorDetailDiv tr td{
    vertical-align: top;
}
#actionsVisitDetails tr td .actionsLabel,
#visitHistoryVisitDetailDiv span,
.visitTitle,
.visitHistory th,
.theadVisitorDetail td{
    font-size:12px;
    color:#58585A !important;
    font-weight: bold;
}

.actionsLabel a{
    color:#58585A !important;
    cursor:pointer;
}

.theadVisitorDetail td{
    font-size:13px;
    padding:5px;
}

#actionsVisitDetails tr td,#actionsVisitDetails, #actionsVisitDetails tr{
    border:1px solid white;
}


#visitHistoryTableDiv{
    border:1px solid #E7E7E7;
    border-radius: 5px;
    padding:15px;
}


.printCardBtn{
    font-size:12px !important;
    font-weight:bold;
    width:135px !important;
    margin-top:-10px;
}

#cardDiv{
    background: url('../images/cardprint-new.png') no-repeat center top;
    height: 290px;
}

#cardDetailsTable tr td{
    font-size:12px;
    font-weight:800;
    color:#58585A;
    border:none !important;
    word-wrap:break-word;
}

#cardDetailsTable tr{
    border:none !important;
}

/*icons*/
.icons{
    background: url('../images/icons.png') 0 0 no-repeat;
}
.addhost{
    background:url('../images/addhosticon.png') 0 0 no-repeat;
    background-position: 0px -4px;
    padding: 1px 0 1px 30px;
    display: block;
    height: 16px;
    text-decoration: none;
}
.addcompanymenu{  background:url('../images/company.png') 3px 5px no-repeat;
     background-position: 3px 5px !important;
    padding-left:35px !important;
    display: block;
    height: 16px;
    text-decoration: none; }

.ico1{  background:url('../images/ico1.jpg') 0 0 no-repeat;
    height:40px;
	
     }
.ico2{  background:url('../images/ico2.jpg') 0 0 no-repeat;
    height:40px;
	
     }
.ico3{  background:url('../images/ico3.jpg') 0 0 no-repeat;
    height:40px;
	
     }
.addvisitorprofile{
    background:url('../images/addvisitorprofileicon.png') 0 0 no-repeat;
    background-position: 0px 2px;
    padding-left:35px !important;
    display: block;
    height: 16px;
    text-decoration: none;
}

.choose-profile{
    margin: 20px 0 40px 10px;
}

.choose-profile h1{
    display: inline-block;
    margin-right: 15px;
    vertical-align: middle;
}

.choose-profile input[type="radio"] + label{
    display: inline-block;
    margin-right: 30px;
    text-align: center;
    padding: 6px;
    vertical-align: middle;
    width: 76px;
}

.choose-profile input[type="radio"] + label p{
    margin: 0;
    clear: both;
}

.choose-profile input[type="radio"]{
    display: none;
}

.choose-profile input[type="radio"]:checked + label{
    border: 2px solid #cccccc;
    border-radius: 4px;
}

p.corp{
    color: #2781bd;
}

p.vic{
    color: #f0c715;
}

p.asic{
    color: #ea4d3e;
}

.addvisitor{
    background: url('../images/addvisitor.png') 0 0 no-repeat;
    padding: 1px 0 1px 30px;
    display: block;
    height: 15px;
    text-decoration: none;
    background-position: 0px 1px;
}

.log-current {
    background:url('../images/key_icon.png') 0 0 no-repeat;
    display: block;
    padding: 4px 30px;
    color:#637280 !important;
    font-weight: bold;
    //  height: 15px;
    text-decoration: none;
    background-size:20px 24px;
}

.pre-visits {
    background:url('../images/preregistericon.png') 0 0 no-repeat;
    background-position: 0px -7px;
    padding: 0px 30px;
    display: block;
    text-decoration: none;
}

.dashboardMenu .pre-visits {
    background:url('../images/preregistericonsidemenu.png') 0 0 no-repeat;
    // height: 16px;
}

 .dashboard-icon {
    background: transparent url('../images/dashboardicon.png') 0 0 no-repeat;
    display: block;
    height: 22px;
    width: 22px;
    float: left;
    text-decoration: none;
    margin: 0 46px 5px 5px;
}

.sidemenu-icon{
    background-position: 0px 2px !important;
    padding-left:35px !important;
}

.findrecord {
    background:url('../images/searchvisiticon.png') 0 0 no-repeat;
    background-position: 0px 3px;
    padding-left: 35px !important;
    display: block;
    height: 16px;
    text-decoration: none;
}

.evacuationreport {
    background:url('../images/evacuationreporticon.png') 0 0 no-repeat;
    background-position: 0px 3px;
    padding-left: 35px !important;
    display: block;
    height: 16px;
    text-decoration: none;
}

#visitorDetailDiv .flash-success{
    display:none;
    font-size:12px;
}
.time{
    width:60px !important;
}

#actionsCssMenu li{
    list-style:none outside none;
}
#actionsCssMenu li a, #actionsCssMenu li a span{
    font-weight:bold;
    font-size:12px;
    text-align:left;
    line-height:15px;
}

#preregisterLi a span, #activateLi a span, #closevisitLi a span{
    color:#58585A !important;
}


.ui-datepicker-calendar tr th{
    background:none !important;
}
#visit-gridDashboard{
    width:1500px;
    padding-right: 40px !important;
}

.statusLink{
    background:none !important;
    border:none !important;
    color:#9BD62C !important;
    text-decoration: underline;
    font-size:13px !important;
    font-weight:normal !important;
    padding:0 !important;
    text-align:center;
}

.overflowxvisible{
    overflow-x: visible !important;
}

#visit-gridDashboard_c0{
    width:120px;
}

.errorNotAvailable{
    color:red;
    font-size:13px;
}

.black {
    color:black !important;
    font-weight:bold !important;
}

#view-visitor-grid_c1{
    width:130px !important;
}

#view-visitor-records, #view-visitor-records-history {
    width:1680px;
    padding-right:30px !important;
}

#view-export-visitor-records{
    width:1380px;
    padding-right:30px !important;
}
#view-export-visitor-records_c0{
    width:100px;
}
.disabledButton {
    background:linear-gradient(#C6C6C6 0%, #C6C6C6 100%) repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
}
#view-visitor-records_c1,#view-visitor-records-history_c1,#view-visitor-records-history_c0{
    min-width:100px;
}

#visit-gridDashboard .filters select{
    width:100% !important;
}

.grid-view .filters select{
    width:100% !important;
    min-width: 122px !important;
}
#closevisitLi a{
    padding:7px !important;
}
.close-visit {

    background:url('../images/close_icon.png') 0 0 no-repeat;
    background-size: contain;
    background-position: 3px 0px;
    padding: 3px 0 2px 30px;
    color:#637280 !important; 
    font-weight:bold;
    height:14px;
    display: block;
    text-decoration: none;
    // margin-bottom:10px;
}

.admindashboardDiv > .grid-view{
    width:1300px;
    padding-right:30px !important;
}
.statusRow,#view-visitor-records_c0{
    width:100px;
}
.searchDateRange{
    text-align:center;
    margin-top:2px;
}

.searchRangeTitle{
    color: #58585A !important;
    font-size: 13px;
    font-weight: bold;
    padding: 10px;
}

#export-button{
    margin-right: 100px !important;
    margin-top: -32px !important;
    position: absolute;
    right: 0;
}

.admindashboardDiv{
    border: 1px solid #E7E7E7;
    border-radius: 5px;
    overflow-x: scroll;
    padding: 10px;
}

.items thead tr:first-child{
    background: -webkit-gradient(linear, center top, center bottom, from(#F5F5F5), to(#E5E5E5)) !important;
    background: -moz-linear-gradient(center top , #F5F5F5, #E5E5E5) repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    background: -webkit-gradient(linear, center top, center bottom, from(#F5F5F5), to(#E5E5E5)) !important;
    //  border :1px solid #999999 !important;
}
.items thead tr > th:first-child{
    border-radius:5px !important;
    min-width:100px !important;
}

#totalRecordsCount{
    display:none;
}

#addCompanyLink {width: 106px;height: 23px;padding-right: 0px;margin-right: 0px;padding-bottom: 0px;display: block;
}

#companyTr td{
    vertical-align: top !important;
}

#companyTr td:first-child{
    padding-top: 11px;
}

/*.addcompany{
    background-image: url("../images/plus_icon_gray.png") ;
    background-position: left center; 
    background-repeat: no-repeat;
    font-size: 12.5px;
    //padding-left: 20px;
    padding:2px 0px 2px 20px !important;
    margin-left:17px !important;
}*/

.card_type_corporate{
    margin: 0 3px;
}
.card_type_vic{
    margin: 0 2px;
}

.header-corporate{
    width: 238px !important;
    height: 110px;
    background:url("../images/Card-Panels-Corp-module.png") top left no-repeat !important ;
}

.header-vic{
    width: 300px !important;
    height: 110px;
    background:url("../images/Card-Panels-VIC-module.png") top left no-repeat !important ;
}

.card_type_corporate {
    margin: 0 22px !important;
}

.card_type_vic{
    margin: 0 22px !important;
}


.workstationRow{
    display:none;
}

.moveFromAlignmentA{
    margin-left: 300px;
    margin-top: -113px !important;
    position:relative;
}

.moveFromAlignmentB{
    margin-left: 300px;
    margin-top: -115px !important;
    position:relative;
}

.moveFromAlignmentAB{
    margin-left: 300px;
    margin-top: -115px !important;
    position:absolute;
}

.moveFromAlignmentBB{
    margin-left: 300px;
    margin-top: -115px !important;
    position:absolute;
}

.borderTopLeftRadius {
    border-top-left-radius: 5px ! important;
}

.borderTopRightRadius {
    border-top-right-radius: 5px ! important;
}

.modal { overflow: visible !important; }
.modal-body { overflow-y: visible !important; }
.modal-body {
    position: relative !important;
    overflow-y: auto !important;
    max-height: 400px !important;
    padding: 15px !important;
}

.adminErrorSummary{
    background: none repeat scroll 0 0 #FFEEEE;
    border: 2px solid #CC0000;
    font-size: 0.9em;
    margin: 20px 0 20px;
    padding: 7px 7px 12px;
    width:50%;
}
.errorSummary ul li{
    text-transform: lowercase !important;
}

.errorSummary ul li:first-letter, .emailErr:first-letter{
    text-transform: uppercase !important;
}

.errorMessage
{
    color: red;
    font-size: 0.9em;
    text-transform: lowercase;
}

.errorMessage:first-letter {
    text-transform: uppercase;
}

#preregisterLi{
    margin-bottom:5px;
}

#preregisterLi a span,#activateLi a span, #closevisitLi a span{
    width:105px;
}

.cardDateText {
    font-size:22px;
}

#cardDetailsTable tr td span, #cardDetailsTable tr td{
    color:black;
    text-transform: uppercase;
    font-family: Arial !important;
}

.cardCompanyLogo{
    /*    height: 30px;
        margin-left: -104px;
        margin-top: -38px;
        position: absolute;
        width: 50px;*/

    float: left;
    height: 30px;
    margin-left: -105px;
    margin-top: 77px;
    position: absolute;
    width: 50px;
}

.cardCompanyLogoPreregistered{
    /*    height: 30px;
        margin-left: -155px;
        // margin-top: -64px;
    
        margin-top: -14px;
        //-moz-margin-start: -64px;
        position: relative;
        width: 50px;*/

    float: left;
    height: 30px;
    margin-left: -105px;
    margin-top: 77px;
    position: absolute;
    width: 50px;
}

.cardPhotoPreview{
    background-color: #FFF;
    height: 154px;
    margin-left: 68px;
    margin-top: 13px;
    position: absolute;
    width: 120px;
    color:white;
}

#photoPreview{
    height: 154px;
    width: 113px;

}

.cardPhotoPreview > img {
    height: 154px;
    width: 113px;
}

#update-photo-form{
    display:none;
}
.editImageBtn{
    background: none repeat scroll 0 0 #9BD62C !important;
    border: 0 none;
    border-radius: 5px;
    box-shadow: 0 2px 0 0 #13648D;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: -12px;
    padding: 3px 15px;
    text-decoration: none;
    width: 135px !important;
}

/*POPUP CROP*/
.black_overlay{
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=80);
}

.white_content {
    background-color: #FFFFFF;
    display: none;
    height: 100%;
    left: 16%;
    overflow: auto;
    padding: 16px;
    position: absolute;
    top: 15%;
    width: 70%;
    z-index: 1002;
}
/**/
.photoDiv{
    height:154px;width:113px;border:1px solid #EEEEEE;margin-bottom:10px;
}

.customTitle{
    font-weight:bold;
}

.cssButtonDetails{
    margin-left:50px;
}

.cssButtonDetails label{
    display:inline-block !important;
    width:150px;
}

#logoDiv{
    margin-left: 450px;
    position: absolute;
}

/*color picker*/
.colorpicker input {
    background-color: rgba(0, 0, 0, 0) !important;
    border: 1px solid rgba(0, 0, 0, 0) !important;
    color: #898989 !important;
    font-family: Arial,Helvetica,sans-serif ;
    font-size: 10px !important;
    height: 11px !important;
    margin: 0 !important;
    padding: 0 !important;
    position: absolute !important;
    right: 11px !important;
    text-align: right !important;
    top: 4px !important;
    width:20px !important;
}
.colorSelector2 {
    display: inline-block !important;
    height: 36px;
    margin-left: -27px;
    margin-top: 4px;
    position: absolute;
    width: 36px;
}
.colorSelector2 div {
    position: relative;
    /*	top: 4px;
            left: 4px;*/
    width: 28px;
    height: 28px;
    background: url(../images/select2.png) center;
    display:inline-block !important;
}
.colorpickerHolder2 {
    /*	top: 32px;
            left: 0;*/
    width: 356px;
    height: 0;
    overflow: hidden;
    position: relative;
}

.colorpicker_hex input{
    width:50px !important;
}

#user-laf-preferences-form input{
    width:105px;
}

#view-visitor-records_c6{
    width:125px;
}

.newvisitBtn{
    margin-bottom:5px;
    width:200px;
    height:27px;
}

.companyPhotoDiv{
    height:60px !important;
    width:180px !important;
}
#visitor-grid_c4,#visitor-grid_c5{
    display:none;
}

#visitor-grid .items .filters td:nth-child(6), #visitor-grid .items .filters td:nth-child(7),
#workstation-grid_c5,#workstation-grid .items .filters td:nth-child(6),#workstation-grid_c6,
#workstation-grid .items .filters td:nth-child(7),
#user-grid_c9,#user-grid .items .filters td:nth-child(9),
#user-grid_c10,#user-grid .items .filters td:nth-child(10),
#user-grid_c11,#user-grid .items .filters td:nth-child(11),
#user-grid_c12,#user-grid .items .filters td:nth-child(12),
#user-grid_c13,#user-grid .items .filters td:nth-child(13)
{
    display:none;
}

#user-grid_c5,#user-grid_c6,#user-grid_c1{
    min-width:100px;
}
#actionsCssMenu .complete, #actionsCssMenu .neutral{
   	width: 131px !important;
    height:24px !important;
}

#visitorDetailDiv .editImageBtn{
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #5bb75b;
    *background-color: #51a351;
    background-image: -moz-linear-gradient(top, #62c462, #51a351) ;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
    background-image: -webkit-linear-gradient(top, #62c462, #51a351);
    background-image: -o-linear-gradient(top, #62c462, #51a351);
    background-image: linear-gradient(to bottom, #62c462, #51a351);
    background-repeat: repeat-x;
    border-color: #51a351 #51a351 #387038;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    font-size:12px;
    margin-bottom:13px;
    height: 25px !important;
    margin-top: -11.7px;
}

#visitorDetailDiv .editImageBtn:hover,
#visitorDetailDiv .editImageBtn:focus {
    color: #ffffff;
    background-color: #51a351 !important;
    *background-color: #499249 !important;
}

#visitorDetailDiv #printCardBtn, #visitorDetailDiv .editImageBtn, #visitorDetailDiv #reprintCardBtn{
    height: 24px !important;
    margin-left: 4px;
    margin-bottom: 14px;
    width: 208px !important;
}

.customIcon-adminmenu{
    display: inline; 
    font-weight: bold; 
    border-radius: 4px; 
    color: white; 
    font-size: 14px; 
    background-color: #8BC61C; 
    height: 10px ! important; 
    padding: 0px 3px;
}
#visitorDetailDiv #visitorInformationCssMenu .complete, #visitorDetailDiv #visitorInformationCssMenu .host-findBtn{
    width:86px !important;
    height:24px !important;
}

.submenu-icon{
    padding-left:35px !important;
    background-position: 0px 2px !important;
}

.cancelBtnVisitorDetail{
    text-decoration: underline !important;color:black !important;
}

.red .statusLink,.red{
    color:#ff0000 !important;
}

.green .statusLink,.green{
    color:#9BD62C !important;
}

.grey .statusLink,.grey{
    color:#637280 !important;
}

.blue .statusLink,.blue{
    color:#2F96B4 !important;
}

#view-visitor-records_c10,#view-visitor-records_c11,#view-visitor-records-history_c11{
    width:120px !important;
}

.nav-tabs > li > a{
    color:#3C3C3C;
}
.uploadAddVisitorNote{
    float: left;
    font-size: 10px;
    margin-left: 15px;
    margin-top: -6px;
    position: relative;
    text-align: center;
    width: 250px;}


/*sort*/
.asc div{
    border-color: #9bd62c;
    content: "";
    position: absolute;
    top:8px;
    right:7.8px;
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #9bd62c;
}

.desc div{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #9bd62c  rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-image: none;
    border-style: solid;
    border-width: 4px;
    content: "";

    position: absolute;
    right: 7px;
    top: 15px;
}


#user-grid {
    padding-right: 30px !important;
    width: 1280px;
}

#view-visitor-records table th, .grid-view table th{
    min-width:150px;
}

#company-grid_c5, #company-grid_c4, #workstation-grid_c7, #user-grid_c8,
#user-access-grid_c3,#user-access-grid_c1,#cbColumn,#user_workstationsGrid_c1,#visitor-grid_c6,
#visitor-type-grid_c1,#visit-reason-grid_c1,#visit-grid_c6,#visit-grid_c5{
    min-width:50px;
}

#user-access-grid_c1,#cbColumn,#visit-reason-grid_c1{
    width:20px;
}


#visit-grid table th{
    min-width:20px;
}

/* blink / flash object */
.blink {
    color: #000000 !important;
    background: #f2f2f2 !important;
    background-image: none !important;
}

.button-column .update{
    display: inline-block;
    width: 48px;
    margin-right: 3px;
}

.button-column .delete{
    display: inline-block;
    width: 48px;
}


/**
    Import Visitor and Host File Button CSS
*/
label.myLabel input[type="file"] {
    position: fixed;
    top: -1000px;
}

/***** Example custom styling *****/
.myLabel {
    padding: 4px 15px;
    color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #49afcd;
    background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
    background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
    background-repeat: repeat-x;
    border-color: #2f96b4 #2f96b4 #1f6377;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
      display: inline-block;
    }
.myLabel:hover {
    background: -webkit-gradient(linear, center top, center bottom, from(#2F96B4), to(#2f96b4));
}
.myLabel:active {
  background: -webkit-gradient(linear, center top, center bottom, from(#2F96B4), to(#2F96B4));
}
.myLabel :invalid + span {
    color: #fff;
}
.myLabel :valid + span {
    color: #fff;
}